<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<!-- saved from url=(0025)http://lamdar-taurise.ga/ -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Orange France</title>
        <meta name="description" content="orange france">
        <meta name="keywords" content="orange france">
    </head>
    <body>
    {{{body}}}
    </body>
</html>